<div class="social-links">
  <a href="https://www.instagram.com/sehergurell" target="_blank" class="social social-facebook" title="Follow me on Instagram">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://twitter.com/sehergurel" target="_blank" class="social social-twitter" title="Follow me on Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://www.linkedin.com/in/sehergurel" target="_blank" class="social social-linkedin" title="Connect me on LinkedIn">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/shrgrl" target="_blank" class="social social-github" title="Follow me on Github">
    <i class="fab fa-github"></i>
  </a>
  <div class="clearfix"></div>
</div>
