---
layout: default
---

<header class="hero hero-fluid hero-project txt-color-sasha-white">
  <div class="container nfloat-down">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="container page-component nfloat-up">
 <!--  <ul>
    {% assign cols = site.[page.collection] | sort: 'order' %} {% for c in cols reversed %} {% if c.order %}
   <li><a href="{{ c.url | remove: '.html' }}">{{ c.title }}</a></li> 
    {% endif %} {% endfor %}
  </ul>-->
  
<div class="row" align="center">
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="tl-event">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
</div>
  
  
  
  <br>
  <a href="/projects" class="btn btn-sasha-greyest">&larr; Projelere geri dön</a>
</div>
