---
layout: default
---

<header class="hero hero-fluid hero-project txt-color-sasha-white">
  <div class="container nfloat-down">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="container page-component nfloat-up">
 <!--  <ul>
    {% assign cols = site.[page.collection] | sort: 'order' %} {% for c in cols reversed %} {% if c.order %}
   <li><a href="{{ c.url | remove: '.html' }}">{{ c.title }}</a></li> 
    {% endif %} {% endfor %}
  </ul>-->
  
  
  
  
  
  
  
  
  
  
 <div class="container page-component nfloat-up">
  <div class="timeline">
    <ul>
      <li class="tl-block">
        <div class="tl-span"></div>
        <a href="/technology" class="thumb-link">
        <div class="tl-event">
          <figure class="tl-figure-circle rounded-circle">
            <img style=" min-height:100%;min-width: 100%;" class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="Sinema Otomasyonu">
          </figure>
        </div>
          </a>
      </li>
      <li class="tl-block">
        <div class="tl-span"></div>
        <a href="/technology" class="thumb-link">
        <div class="tl-event">
          <figure class="tl-figure-circle rounded-circle">
            <img style=" min-height:100%;min-width: 100%;" class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="Sinema Otomasyonu">
          </figure>
        </div>
          </a>
      </li>
      <li class="tl-block">
        <a href="/technology" class="thumb-link">
        <div class="tl-event">
          <figure class="tl-figure-circle rounded-circle">
            <img style=" min-height:100%;min-width: 100%;" class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="Sinema Otomasyonu">
          </figure>
        </div>
          </a>
      </li>
      <li class="tl-block">
        <div class="tl-year txt-color-primary">2005</div>
        <div class="tl-span"></div>
        <a href="/technology" class="thumb-link">
        <div class="tl-event">
          <figure class="tl-figure-circle rounded-circle">
            <img style=" min-height:100%;min-width: 100%;" class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="Sinema Otomasyonu">
          </figure>
          <p class="no-margin-b">
            Bilgi  </p>
        </div>
          </a>
      </li>
      <li class="tl-block">
        <div class="tl-year txt-color-primary">2005</div>
        <div class="tl-span"></div>
        <a href="/technology" class="thumb-link">
        <div class="tl-event">
          <figure class="tl-figure-circle rounded-circle">
            <img style=" min-height:100%;min-width: 100%;" class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="Sinema Otomasyonu">
          </figure>
          <p class="no-margin-b">
            Bilgi  </p>
        </div>
          </a>
      </li>
      <li class="tl-block">
        <div class="tl-year txt-color-primary">2005</div>
        <div class="tl-span"></div>
        <a href="/technology" class="thumb-link">
        <div class="tl-event">
          <figure class="tl-figure-circle rounded-circle">
            <img style=" min-height:100%;min-width: 100%;" class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="Sinema Otomasyonu">
          </figure>
          <p class="no-margin-b">
            Bilgi  </p>
        </div>
          </a>
      </li>
    </ul>
  </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
<div class="row" align="center">
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Sinema Otomasyonu</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Hastane Yönetim Sistemi</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
            <img class="img-fluid img-grayscale" src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Deneme</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br>
  <a href="/projects" class="btn btn-sasha-greyest">&larr; Projelere geri dön</a>
</div>
