---
layout: default
---

<header class="hero hero-fluid hero-project txt-color-sasha-white">
  <div class="container nfloat-down">
    <h1>{{ page.title }}</h1>
    <p class="txt-size-lead">{{ page.sub-title }}</p>
  </div>
</header>

<div class="container page-component project-item-content nfloat-up">
  {{ content }}
 
  <a href="{% if page.collection == 'web' %}/blog/technoblog/web{% elsif page.collection == 'parallel' %}/blog/technoblog/parallel{% elsif page.collection == 'rfid' %}/blog/technoblog/rfid{% elsif page.collection == 'graphics' %}/blog/technoblog/graphics{% else %}/{{ page.collection }}{% endif %}" class="btn btn-sasha-greyest" id="txt" style="margin-top: 15px;"></a>
</div>
  <script>
  var x = "{{ page.collection | capitalize }}"
  switch(x){
    case "Parallel" :
    document.getElementById("txt").innerHTML = "&larr;Return to Parallel Programming Applications"
    break
    case "Web" :
    document.getElementById("txt").innerHTML = "&larr;Return to Web Applications"
    break
    case "Graphics":
    document.getElementById("txt").innerHTML = "&larr;Return to Graphics and GUI Applications"
    break
    case "Rfid":
    document.getElementById("txt").innerHTML = "&larr;Return to RFID Applications"
  }
  </script>
