---
layout: default
---

<header class="hero hero-fluid hero-project txt-color-sasha-white">
  <div class="container nfloat-down">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="container page-component nfloat-up">
 <!--  <ul>
    {% assign cols = site.[page.collection] | sort: 'order' %} {% for c in cols reversed %} {% if c.order %}
   <li><a href="{{ c.url | remove: '.html' }}">{{ c.title }}</a></li> 
    {% endif %} {% endfor %}
  </ul>-->

  {% assign cols = site.[page.collection] | sort: 'order' %} {% for c in cols reversed %} {% if c.order %}
<div class="row" align="center">
  
  <div class="col-md-4 col-custom mx-auto">
    
      <a href="/sinema.html">
      <div class="thumb rounded-circle">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/cinema/cinema.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Sinema Otomasyon Sistemii</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="{{ c.url | remove: '.html' }}">{{ c.title }}
      <div class="thumb rounded-circle">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Film Sorgulama</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb rounded-circle">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Hastane Yönetim Sistemi</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb rounded-circle">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Epoch Zaman Dönüştürücü</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb rounded-circle">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Güncel Döviz Kurları</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
  <div class="col-md-4 col-custom mx-auto">
    <a href="/technology" class="thumb-link">
      <div class="thumb rounded-circle">
        <figure class="tl-figure-circle rounded-circle">
          <img src="{{ base }}/assets/images/blogimg/teknoloji.jpg" alt="teknoloji" style="min-height:100%;min-width: 100%;" class="img-fluid">
          <figcaption class="txt-size-lead">Haber Web Sitesi</figcaption>
        </figure>
      </div>
    </a>
  </div>
  
</div>
{% endif %} {% endfor %}
  <br>
  <a href="/projects" class="btn btn-sasha-greyest">&larr; Projelere geri dön</a>
</div>
